<!doctype html>
<html>
    <head>
        <title>Registration</title>
        <link rel="stylesheet" href="/styles.css">
        <style>@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,800,800i');</style>
    </head>

    <body>
        <div id="reg-page">
            <h1> Create Username and Password </h1>

            <form method="post" action="/reg">
                <label for="username">Enter Username</label>
                <input type="text" id="newUsername" name="newUsername" required>

                <label for="password">Enter Password</label>
                <input type="password" id="newPassword" name="newPassword" required>

                <input type="submit" value="Create Account">
            </form>
        </div>
        
    </body>
</html>