body {
    background-image: url("https://s-media-cache-ak0.pinimg.com/originals/91/d7/be/91d7bec04ef67afa7d86dacd511dc313.jpg");
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-attachment: fixed;
    margin-left: 2%;
}

#login-page {
    margin-top: 10%;
    color: black;
}

h1 {
    font-size: 50px; 
    text-shadow: 1px 4px 1px skyblue;
}

h3 {
    text-align: left;
    margin-bottom: 0;
}

label {
    font-weight: bolder;
    font-size: 25px;
}

#newTag,
#notes,
#name,
#newSnippet {
    width: 500px;
    height: 15px;
}

#newSnippet {
    height: 150px;
}

input {
    width: 100px;
}

select {
    width: 100px;
}

#addForm {
    display: flex; 
    flex-wrap: wrap; 
    width: 50%;
    flex-direction: column; 
}

#snippet-section {
    margin-top: 3%; 
    padding: 3% 0;
    border-top: 2px solid skyblue;
    text-align: left;
}

#theSnippets {
    display: flex;
    flex-wrap: wrap;
}

#theSnippets div,
#details {
    background-color: white;
    font-size: 12px;
    border: 1px solid black;
    width: 14%;
    margin: 1%;
    padding: 1%; 
}

a {
    color: black;
    font-size: 15px;
}

span {
    color: #008ECE;
}

#nametag {
    font-weight: bold;
}

#details {
    width: 52%;
    font-size: 25px;
    text-align: left;
    margin-left: 5%;
}

#details p:first-of-type {
    text-align: center;
    font-weight: bold;
}